html, body {
	margin: 0;
	padding: 0;
	height: 100%
}

.main {
	background-color: white;
	width : 50%;
	height: 70%;
	/* border:1px black solid; */
	/* position: relative;
top:130px;  
left:50px; */
	display: inline-block;
	margin-left: 50px;
	color: #4C4C4C;
}

.a {
	background-color: white;
	width: 800px;
	height: 500px;
	border: 1px black solid;
	margin: 0 auto;
	margin-top: 10px;
}
