html, body {
	margin: 0;
	padding: 0;
	height: 100%
}

.nav {
	font-size: 2em;
	text-align: center;
}

#title {
	color: white;
	background-color: black;
	text-align: center;
	border: 3px solid black;
	box-shadow: grey 0.2em 0.2em 0.2em;
	text-shadow: black 0.2em 0.2em 0.2em;
}
