/* 

#left_main {
	border: 1px solid black;
	float: left;
	margin-top: 150px;
	margin-left: 350px;
	width: 820px;
	height: 840px;
}

#image_item {
	margin: 0px;
	margin-top: 20px;
	margin-left: 10px;
	width: 800px;
	height: 250px;
	border-collapse: collapse;
}

.img {
	margin-left: 30px;
} */